@import url('./basic/base.css');
@import url('./pages/home-page.css');
@import url('../css/cmps/app-footer.css');
@import url('../css/cmps/app-header.css');
@import url('./apps/email/email.css');
@import url('./apps/note/note.css');
@import url('./cmps/usr-msg.css');
.wrapper {
    min-height: calc(100vh - 40px);
}