.email-preview {
    background-color: rgba(236, 236, 236, 0.404);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-weight: 900;
    cursor: pointer;
    font-size: 0.875rem;
    border-bottom: 2px solid rgba(204, 203, 203, 0.534);
}

.email-preview:hover {
    box-shadow: 0px 0px 7px 0px rgba(105, 105, 105, 0.75);
}

.email-preview .star-btn {
    font-family: fontawesome-regular;
}

.email-preview.is-stared>.star-btn {
    font-family: fontawesome-solid;
}

.star-btn::after {
    content: "\f005";
    font-size: 1.2rem;
}

.star-btn.stared {
    color: rgb(235, 210, 69);
}

.email-preview .subject {
    min-width: 160px;
}

.email-preview.email-read {
    font-weight: unset;
    background-color: whitesmoke;
}

.email-preview .body {
    justify-self: flex-start;
    flex-grow: 1;
}

.email-preview .sent-at {
    text-align: right;
    width: 120px;
}

.email-preview .buttons-icon {
    text-align: right;
    min-width: 120px;
}

.buttons-icon>* {
    font-family: fontawesome-regular;
}

.email-preview.is-readed .read-btn {
    font-family: fontawesome-solid;
}

.buttons-icon>.read-more {
    font-family: fontawesome-solid;
}

.buttons-icon>* {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
}

.remove-btn::after {
    content: "\f2ed";
    color: rgb(216, 91, 91);
}

.read-btn::after {
    content: "\f0e0";
}

.read-more::after {
    content: "\f0dd";
}

.read-more.is-open::after {
    content: "\f0de";
}