.email-compose {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(233, 219, 219);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
    color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title .close {
    font-size: 1.5rem;
    color: white;
}

.main-compose {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.email-compose .buttons {
    display: flex;
    justify-content: space-between;
}