.email-preview {
    background-color: rgb(235, 233, 233);
    display: grid;
    grid-column: 6fr 1fr;
    grid-row: 1fr 2fr;
    justify-content: space-between;
    padding: 5px 10px;
    font-weight: 900;
    cursor: pointer;
    font-size: 1.1rem;
}

.email-preview .subject {
    font-size: 1.3rem;
    grid-row: 1/2;
    grid-column: 1/2;
}

.email-preview.email-read {
    font-weight: unset;
}

.email-preview .body {
    grid-row: 2/3;
    grid-column: 1/2;
}

.email-preview .sent-at {
    grid-row: 1/2;
    grid-column: 2/3;
}

.email-preview .buttons {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.remove-btn {
    font-size: 2rem;
    color: rgb(216, 91, 91);
    font-weight: 700;
    padding: 0;
}

.read-btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
}

.email-preview.email-read .read-btn {
    font-size: 1.7rem;
}

.read-more {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    padding: 0;
}

.star-btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
}

.star-btn.stared {
    font-size: 2rem;
    color: rgb(235, 210, 69);
}