 .email-search input {
     padding: 5px 12px;
     border: 1px solid #ccc;
     border-radius: 10px;
     font-family: poppins-regular, sans-serif;
     width: 70%;
 }
 
 .email-search input:focus-visible {
     outline: none;
 }
 
 @media (max-width:655px) {
     .email-search input {
         width: 100%;
     }
 }