@font-face {
  font-family: fontawesome-regular;
  src: url('/fonts/fontawesome/fa-regular-400.ttf');
}
@font-face {
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

.note-actions > * {
  font-family: fontawesome-solid;
}

.note-actions .btn-color-change {
  position: relative;
  font-size: 1rem;
}

.btn-color-change::after {
  content: '\f53f';
}

.btn-remove-note::after {
  content: '\f2ed';
  font-size: 1rem;
}

.pinNote {
  display: flex;
  justify-content: center;
}

.pinNote::after {
  content: url('../../../../img/note/pin-hollow.png');
}
.pinNote.pinned::after {
  content: url('../../../../img/note/pin-full.png');
}

.change-color-modal {
  position: absolute;
  right: 2.3rem;
  bottom: 0rem;
  width: 4rem;
  height: 4rem;
  min-width: 6rem;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 0.2rem;
  border: 1px solid lightgray;
  z-index: 1;
}

.change-color-modal button {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 25px;
  border: 1px solid lightgray;
  transition: border 0.4s;
}

.change-color-modal button:hover {
  border: 1px solid grey;
}
