@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppins-bold;
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: fontawesome-regular;
  src: url('/fonts/fontawesome/fa-regular-400.ttf');
}
@font-face {
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

.add-note-cont {
  display: flex;
  justify-content: center;
}

.add-note-cont .add-note-form {
  display: flex;
  flex-direction: column;
}

.add-note-cont .add-note-form > * {
  margin-bottom: 1rem;
  width: 500px;
}

.add-note-cont .add-note-form > *:focus-visible {
  outline: none;
}

.add-note-cont .add-note-form input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.add-note-cont .add-note-form select {
  font-family: poppins-regular;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
}

.add-note-cont .note-add-title {
  font-family: poppins-bold;
}

.add-note-cont .note-add-txt {
  font-family: poppins-regular;
  width: 25rem;
}

.add-note-cont .btn-add-note {
  font-family: poppins-regular;
}

/* Dynamic */

.add-note-cont .add-note-form-dyn {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.add-note-form-dyn input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.add-note-form-dyn input:focus-visible {
  outline: none;
}

.note-type-select {
  font-family: fontawesome-solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-type-select {
  color: grey;
}

.note-type-select:focus {
  color: black;
}

.note-type-select.txt::after {
  content: '\f303';
}

.note-type-select.img::after {
  content: '\f03e';
}
.note-type-select.vid::after {
  content: '\f03d';
}
.note-type-select.list::after {
  content: '\f0ca';
}

.add-note-form-dyn .btn-add-note::after {
  font-family: fontawesome-solid;
  content: '\f067';
  color: limegreen;
}

@media (max-width: 550px) {
  .add-note-cont .note-add-txt {
    width: 11.5rem;
  }
}
