.note-preview-cont {
  background-color: whitesmoke;
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.note-preview-cont .removeNote {
  position: absolute;
  right: 0;
  bottom: 0;
}

.note-preview-cont .pinNote {
  position: absolute;
  right: 0;
  top: 0;
}
