@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppins-bold;
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: fontawesome-regular;
  src: url('/fonts/fontawesome/fa-regular-400.ttf');
}
@font-face {
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

.add-note-cont {
  display: flex;
  justify-content: center;
}

.add-note-cont .add-note-form {
  display: flex;
  flex-direction: column;
}

.add-note-cont .add-note-form > * {
  margin-bottom: 1rem;
  width: 500px;
}

.add-note-cont .add-note-form > *:focus-visible {
  outline: none;
}

.add-note-cont .add-note-form input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.add-note-cont .add-note-form select {
  font-family: poppins-regular;
  border-radius: 10px;
  padding-left: 20px;
  border: none;
}

.add-note-cont .note-add-title {
  font-family: poppins-bold;
}

.add-note-cont .note-add-txt {
  font-family: poppins-regular;
}

.add-note-cont .btn-add-note {
  font-family: poppins-regular;
}

/* Dynamic */

.add-note-cont .add-note-form-dyn {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.note-type-select {
  font-family: fontawesome-solid;
  cursor: pointer;
}

.note-type-select.txt::after {
  content: '\f303';
}
