@font-face {
    font-family: poppins-bold;
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins-regular;
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-medium;
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: fontawesome-regular;
    src: url('/fonts/fontawesome/fa-regular-400.ttf');
}

@font-face {
    font-family: fontawesome-solid;
    src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: poppins-regular, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.router-link-exact-active {
    color: blue;
}

button {
    cursor: pointer;
}

.icon {
    border: none;
    background-color: unset;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    transition: background-color .5s;
}

.icon:hover {
    background-color: rgb(211, 208, 208);
}

@font-face {
    font-family: poppins-bold;
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins-regular;
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-medium;
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: fontawesome-regular;
    src: url('/fonts/fontawesome/fa-regular-400.ttf');
}

@font-face {
    font-family: fontawesome-solid;
    src: url('/fonts/fontawesome/fa-solid-900.ttf');
}