@font-face {
    font-family: poppins-bold;
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins-regular;
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-medium;
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: fontawesome-regular;
    src: url('/fonts/fontawesome/fa-regular-400.ttf');
}

@font-face {
    font-family: fontawesome-solid;
    src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

* {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  margin: 0;
  background-color: whitesmoke;
  font-family: poppins-regular;
=======
    margin: 0;
    background-color: whitesmoke;
    font-family: poppins-regular, sans-serif;
>>>>>>> 6e50444e3626a7c7000d58acb3798d71f8a8f76f
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.router-link-exact-active {
  color: blue;
}

button {
  cursor: pointer;
}

.icon {
<<<<<<< HEAD
  border: none;
  background-color: unset;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  transition: background-color 0.5s;
=======
    border: none;
    background-color: unset;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    transition: background-color .5s;
>>>>>>> 6e50444e3626a7c7000d58acb3798d71f8a8f76f
}

.icon:hover {
  background-color: rgb(211, 208, 208);
}

@font-face {
  font-family: poppins-bold;
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppins-medium;
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: fontawesome-regular;
  src: url('/fonts/fontawesome/fa-regular-400.ttf');
}

@font-face {
<<<<<<< HEAD
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}
=======
    font-family: fontawesome-solid;
    src: url('/fonts/fontawesome/fa-solid-900.ttf');
}
>>>>>>> 6e50444e3626a7c7000d58acb3798d71f8a8f76f
