* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.router-link-exact-active {
    color: blue;
}

button {
    cursor: pointer;
}

.icon {
    border: none;
    background-color: unset;
}