    .app-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-bottom: 3px solid rgb(168, 165, 165);
        padding: 0 15px;
        background-color: whitesmoke;
    }
    
    .app-header .menu-btn {
        border: 0;
        background-color: unset;
    }
    
    .menu-btn img {
        width: 33px;
    }
    
    .app-header .nav {
        background-color: rgb(236, 236, 236);
        box-shadow: 0px 0px 5px 0px rgb(48, 47, 47);
        position: absolute;
        padding: 10px;
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 200px;
        top: 60px;
        right: 10px;
        font-size: 2rem;
        border-radius: 7px;
        font-family: fontawesome-solid;
        transform: translateY(-105%);
        transition: transform 1s;
        z-index: -1;
    }
    
    .app-header .nav .home-page-link::after {
        content: '\f015';
        color: rgb(100, 236, 202)
    }
    
    .app-header .nav .email-link::after {
        content: '\f658';
        color: rgb(240, 114, 114)
    }
    
    .app-header .nav .note-link::after {
        content: '\f249';
        color: rgb(184, 127, 238)
    }
    
    .open-nav {
        transform: translateY(0) !important;
        z-index: 2 !important;
        transition: transform 1s;
    }