@import url('./cmps/note-actions.css');
@import url('./cmps/note-list.css');
@import url('./cmps/note-preview.css');
@import url('./cmps/note-add.css');
@import url('./pages/note-app.css');
@import url('./pages/note-detail.css');
