.email-app {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 30px;
}

.email-app .header-email-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}

.header-email-app .logo {
    font-size: 2.4rem;
    color: rgb(74, 74, 77);
}

.header-email-app .info-place {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
}

.email-app .body-email-app {
    display: flex;
}

.filter-email {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 120px;
}