.email-app {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 2rem;
}

.email-app .header-email-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(177, 176, 176, 0.767);
    padding: 5px 0;
}

.header-email-app .logo {
    font-size: 2.4rem;
    color: rgb(74, 74, 77);
}

.header-email-app .info-place {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-place .unread {
    font-size: 1.5rem;
}

.info-place .unread>.read-btn {
    font-family: fontawesome-solid;
}

.unread .read-btn::after {
    font-size: 1.5rem;
    content: "\f0e0";
}

.email-app .body-email-app {
    display: flex;
}

.filter-email {
    display: flex;
    flex-direction: column;
    min-width: 185px;
    height: 210px;
    border-bottom: 1px solid rgba(177, 176, 176, 0.767);
}

.filter-email>* {
    font-family: fontawesome-solid;
}

.filter-email .inbox::before {
    content: '\f01c';
    color: rgb(255, 103, 103);
}

.filter-email .stars::before {
    content: '\f005';
    color: rgb(253, 229, 89);
}

.filter-email .drafts::before {
    content: '\f249';
    color: rgb(168, 172, 236);
}

.filter-email .sent::before {
    content: '\f1d8';
    color: rgb(120, 223, 214);
}

.filter-email .add-compose::before {
    content: '\f067';
    color: rgb(32, 240, 32);
}

.active {
    font-weight: bold;
    background-color: rgb(235, 232, 232) !important;
}

.filter-email button {
    text-align: left;
    font-size: 1.1rem;
    border: 0;
    background-color: unset;
    padding: 10px 5px;
    border-radius: 10px;
}

.filter-email button:hover {
    background-color: rgb(235, 232, 232);
}