.email-details {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 0.6rem;
}

.email-details .buttons {
    display: flex;
    gap: 0.7rem;
}

.email-details .header {
    padding: 10px 0;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-details .details {
    display: grid;
    grid-template-columns: 1fr 170px;
    grid-template-rows: 3fr 2fr;
    border-bottom: 1px solid rgba(179, 174, 174, 0.712);
}

.details .from {
    grid-row: 1/2;
    grid-column: 1/2;
}

.details .to {
    grid-row: 2/2;
    grid-column: 1/2;
}

.details .sent-at {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: flex-end;
}

.email-details .body {
    padding-top: 10px;
}

.email-details .buttons-icon>* {
    font-family: fontawesome-solid;
}

.email-details .buttons-icon .edit-btn::after {
    content: "\f044";
    padding: 0;
    color: rgb(119, 119, 122)
}

.email-details .buttons-icon .back-btn {
    transform: rotate(180deg);
}

.email-details .buttons-icon .back-btn::after {
    content: "\f100";
    padding: 0;
}