@font-face {
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

.home-page {
  text-align: center;
}

.home-page img {
  height: 82vh;
  width: 100%;
  object-fit: cover;
}

.home-page .homepage-content {
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 1rem;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page .title {
  font-size: 3.5rem;
  color: #4e4c4c;
}

.home-page .homepage-nav {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: fontawesome-solid;
}

.homepage-nav .email-link::after {
  content: '\f658';
  color: rgb(240, 114, 114);
}
.homepage-nav .note-link::after {
  content: '\f249';
  color: rgb(184, 127, 238);
}

@media (max-width: 640px) {
  .home-page .title {
    font-size: 2.5rem;
  }
  .home-page .homepage-nav {
    font-size: 3rem;
  }
}
