@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

.note-app {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 2rem;
}

.note-app > * {
  margin: 0 2rem;
  gap: 1.2rem;
}

.logo-img {
  height: 65px;
}

.header-note-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}

.header-note-app input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: poppins-regular;
}

.header-note-app input:focus-visible {
  outline: none;
}
