@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

.note-app {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 2rem;
}

.logo-img {
  height: 65px;
}

.note-app .header-note-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(177, 176, 176, 0.767);
  padding: 7px 0;
}

.header-note-app .logo {
  font-size: 2.4rem;
  color: rgb(74, 74, 77);
}

.header-note-app .search {
  flex-grow: 1;
  justify-self: center;
  text-align: center;
}

.header-note-app .info-place {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 550px) {
  .note-app {
    margin: 0 0.5rem;
    gap: 0.5rem;
  }
}
