@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppins-bold;
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: fontawesome-regular;
  src: url('/fonts/fontawesome/fa-regular-400.ttf');
}
@font-face {
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

.note-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2rem;
}

.note-dtails-cont {
  position: relative;
}

.note-details form {
  display: flex;
  flex-direction: column;
}

.note-details form > * {
  width: 500px;
}

.note-details form > *:focus-visible {
  outline: none;
}

.note-details form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.note-details form input[type='text'],
.note-details form textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: poppins-bold;
}

.note-details form textarea {
  font-family: poppins-regular;
}

.note-details .buttons-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: fontawesome-solid;
  margin-bottom: 1rem;
}

.note-details .buttons-cont > * {
  font-size: 2rem;
}

.note-details .buttons-cont .back-to-notes::after {
  font-family: fontawesome-solid;
  content: '\f00c';
}
.note-details .buttons-cont .back-to-notes.exit::after {
  font-family: fontawesome-solid;
  content: '\f101';
}

.note-details .note-img-detail {
  width: 100%;
}

.note-details .img-contv {
  position: relative;
}
.note-details .deleteImg {
  position: absolute;
  top: -5px;
}
.note-details .deleteImg::after {
  font-family: fontawesome-solid;
  content: '\f05e';
}

.note-details .btn-add-todo::after {
  font-family: fontawesome-solid;
  content: '\f067';
}

.note-details .list-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 50%;
}

.details-todo-cont {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.list-details .list-item {
  cursor: pointer;
}

@media (max-width: 550) {
  .note-details-cont {
    width: max-content;
    background-color: red;
  }
  .buttons-cont {
    width: 372px;
  }
}
