@font-face {
  font-family: poppins-regular;
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: poppins-bold;
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: fontawesome-regular;
  src: url('/fonts/fontawesome/fa-regular-400.ttf');
}
@font-face {
  font-family: fontawesome-solid;
  src: url('/fonts/fontawesome/fa-solid-900.ttf');
}

.note-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  position: relative;
}

.note-dtails-cont {
  position: relative;
}

.note-details form {
  display: flex;
  flex-direction: column;
}

.note-details form > * {
  width: 500px;
}

.note-details form > *:focus-visible {
  outline: none;
}

.note-details form > *:not(:last-child) {
  margin-bottom: 1rem;
}

.note-details form input[type='text'],
.note-details form textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: poppins-bold;
}

.note-details form textarea {
  font-family: poppins-regular;
}

.note-details .buttons-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: fontawesome-solid;
  margin-bottom: 1rem;
}

.note-details .buttons-cont > * {
  font-size: 2rem;
}

.note-details .buttons-cont .prev-note::after {
  font-family: fontawesome-solid;
  content: '\f060';
}

.note-details .buttons-cont .next-note::after {
  font-family: fontawesome-solid;
  content: '\f061';
}
.note-details .buttons-cont .back-to-notes::after {
  font-family: fontawesome-solid;
  content: '\f00c';
}
